/* other font in the google stylesheet
font-family: 'Chathura', sans-serif; */

#game {
  font-family: 'Chathura', sans-serif;
  text-align: center;
  font-size: 1.25rem;


}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 300px 200px 200px; 
    grid-template-rows: 1fr 1fr; 
    row-gap: 10px;
    column-gap: 10px;
  }

.container .cell {

    height: 200px;
    /* overflow-wrap: break-word; */
    /* background-color: mediumaquamarine; */

}

.mediation-img {
  background-image: url(imgs/justice.png);
  background-size: contain;
  background-repeat: no-repeat;
}


h2 {
  font-family: 'Srisakdi', cursive;
  text-align: center;

}


#normal-play {
  grid-column: 1 / span 3;
  outline: none;
  background-color: #7628DB;
  color: white;
  height: 2rem;

}
.normal {
  background-image: url(imgs/peace.png);
  background-position: center; 
  background-color: mediumaquamarine;
  background-size: contain;
  background-repeat: no-repeat;
}
  
  .cardbackY {
    background-image: url(imgs/playingcardbackY.jpg);
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    
  }

  .cardbackX {
    background-image: url(imgs/playingcardbackX.jpg);
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    
  }